:root {
  --main-color: hsl(200 90% 20%);
  --border-color: #e5e7eb;
  --focus-border: hsl(200 100% 40%);
  --text-color: hsl(200 40% 10%);
}

@font-face {
  font-family: 'Norse';
  src: url('assets/norse-bold-webfont.woff2') format('woff2'),
    url('assets/norse-bold-webfont.woff ') format('woff');
  font-style: normal;
  font-weight: bold;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Figtree', system-ui, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  display: flex;
  gap: 6rem;
  color: var(--text-color);
  justify-content: space-between;
}

.aside {
  flex: 0.3;
  position: relative;
  background: url('assets/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo-container {
  background-color: hsl(140 10% 0% / 50%);
  padding: 1rem;
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-text {
  font-family: 'Norse';
  font-weight: bold;
  font-size: 7rem;
  text-transform: uppercase;
  color: white;
}

.logo {
  display: block;
  width: 10rem;
}

.article {
  margin-bottom: 5rem;
}

.main {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  justify-content: center;
}

.heading-main {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  width: 50ch;
  font-weight: 600;
}

.tagline {
  font-size: 2.5rem;
  font-weight: 500;
}

.form,
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset {
  margin-bottom: 2.5rem;
  padding: 1rem 0;
}

fieldset:last-child {
  margin-bottom: 0;
}

.form-row {
  margin-bottom: 2rem;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5rem;
}

.form-list-item {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-caption {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

label {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.button {
  padding: 1rem 3rem;
  background-color: var(--main-color);
  border-radius: 2px;
  font-weight: 600;
  border: none;
  outline: none;
  color: white;
  margin-bottom: 1.5rem;
}

.input {
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 2px;
  padding-left: 1rem;
  min-width: 40rem;
  border: 1px solid var(--border-color);
}

.input:focus {
  outline: 1px solid var(--focus-border);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.log-in {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}

em {
  font-style: italic;
}

.input:invalid {
  border: 1px solid red;
}

.shoutout {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.shoutout a {
  color: white;
}
